<div class='form-whole-width'>
  <%= form.label :name, 'Apprentice Name' %>
  <%= form.text_field :name, id: 'apprentice-name' %>

  <%= form.label :email, 'Apprentice Email' %>
  <%= form.text_field :email, id: 'apprentice-email' %>

    <%= form.label :position, 'Position' %>
    <div class="actions">
    <%= form.radio_button :position, :checked => false %>
    <%= form.label :position, 'Developer', :value => 1, :class => 'inline-label' %><br/>

    <%= form.radio_button :position, :checked => false %>
    <%= form.label :position,  'Designer', :value => 2,:class => 'inline-label' %>
  </div>
  
  <p>
    <%= form.label :location, 'Location' %>
    <%= form.select :location, ["Chicago", "London", "Los Angeles"], {}, class: "dropdown", style:"width: 140px" %>
  </p>

  <br />
  <%= form.label :start_date, 'Start Date' %>
  <%= form.text_field :start_date, id: 'start_date'%>

  <%= form.label :end_date, 'End Date' %>
  <%= form.text_field :end_date, id: 'end_date' %>

  <%= form.label :mentor, 'Mentor' %>
  <%= form.text_field :mentor, id: 'mentor' %>
</div>